# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments
venv/
.venv/
env/
ENV/

# Temporary files & logs
*.log
scratch/
.system_generated/

# OS metadata
.DS_Store
Thumbs.db
desktop.ini

# IDE configs
.idea/
.vscode/
*.swp
*.swo

# Output binaries
*.tmp
